<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="48e82f51-b62b-49ba-9549-de1dc1606818" Publisher="CN=Perumal" Version="1.1.0.0" />
  <Properties>
    <DisplayName>Blocks</DisplayName>
    <PublisherDisplayName>Sample Template</PublisherDisplayName>
    <Logo>Images\gaodeng\god(50x50).png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Blocks.App">
      <m2:VisualElements DisplayName="Blocks" Description="Blocks" BackgroundColor="#f5f5f5" ForegroundText="dark" Square150x150Logo="Images\gaodeng\god(150x150).png" Square30x30Logo="Images\gaodeng\god(30x30).png">
        <m2:DefaultTile ShortName="Blocks" Wide310x150Logo="Assets\wideLogo.png" Square70x70Logo="Images\gaodeng\god(70x70).png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
            <m2:ShowOn Tile="wide310x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>